<!DOCTYPE html>
<html>
  <head>
    <title>Tack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="icon" href="<%= image_url('favicon.ico') %>" type="image/x-icon">
    <script type="text/javascript">
      window.channelscreenshot = "<%= image_url('channels-screenshot.png') %>"
    </script>
    <script type="text/javascript">
      window.slackphone = "<%= image_url('slack-iphone-pic.jpg') %>"
    </script>
  </head>

  <body>
    <% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder",
        user: current_user).html_safe %>
    </script>
  <% end %>
    <%= yield %>
    <script src="https://kit.fontawesome.com/6ac01a17e9.js" crossorigin="anonymous"></script>
  </body>
</html>
